$selected-dark:white;
$selected-light:#000000;

.light {
    .selected {
        color: $selected-light;
    }
}

.dark {
    .selected {
        color: $selected-dark;
    }
}

.width {
    width: 100%;
}
  
.height {
    height: 100%;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.title {
    font-size: 1.3rem;
    
}