$dark-theme:#252525;
$light-theme: white;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#screen {
  width: 100vw;
  height: 100vh;
}

.width {
  width: 100%;
}

.height {
  height: 100%;
}

.dark {
  background-color: $dark-theme;
}

.light {
  background-color: $light-theme;
}

